/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:50px;
	float:right;
   /* background:url(images/nav-bg.png) repeat-x;
    _background:url(images/nav-bg.gif) repeat-x;
	background-color:#e27232;
	 border-bottom:1px solid #7b4519;*/
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
div#menu ul.menu {
    padding-left:5px;
	
	
}

div#menu li {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 50px;
    left: 0;
   
   
    visibility: hidden;
    padding: 0 0 0px 0px;
    _padding: 0 0 0px 0px;
  
	background-color:#7b4519;
    margin: 0 0 0 0px;
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li.current a {

}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
    height: 55px;
    display: block;
    float: left;	
    padding: 0 0px 0 26px;
	
    line-height: 55px;
    text-decoration: none;
	
}
div#menu span {
    font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 18px;
    color: #000000;
  
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
    color: #7b4519;
	padding-bottom:4px;
	border-bottom:2px solid #d19a62;
}

div#menu li { background: url(images/nav_separator.png) top left no-repeat; }
div#menu li.current span{
    	/*background: url(images/nav_separator.png) top right no-repeat;*/
    /*padding: 18px 20px 16px 0;*/
	padding-bottom:4px;
	border-bottom:2px solid #d19a62;
}

/* menu::level2 */
div#menu ul ul li {
    /*background: url(images/nav_dropdown_sep.gif) left bottom repeat-x;*/
	
	
	border-top:1px solid #907f63;
	
    padding: 4px 0;
    z-index: 9;	
}
div#menu ul ul {
    z-index: 0;	
    padding: 0;
	border-top:1px soild #ffffff;
   /*	background-color:#e27232;*/
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}
div#menu ul ul a {
  	width: 240px;
	 padding: 0px 10px 3px 10px;
    height: auto;
    float: left;
	
    display: block;
    background:none;
	
  
    z-index: 0;
}
div#menu ul ul a span {
	  padding: 0 0px 0px 10px;
    line-height: 20px;
	text-align:left;
    color: #ffffff;
    font-weight:normal;
    text-transform: none;
	
    background:none;
}
div#menu ul ul a:hover {
    
}
div#menu ul ul a:hover span {
   
    color: #ffffff;
	background-color:#b3753c;

}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 100px;
    margin: 0px 0 0 105px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}


