
body
{
  margin: 0 auto;
  padding: 0;
  background-color:#ffffff;
  background-image: url('images/Page-BgSimpleGradient.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  width:100%;
  background-position: bottom left;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}





.cleared
{
  float: none;
  clear: both;hi
  
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


/* end Page */

/* begin Box, Sheet */
.Sheet
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 995px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 0px;
}


.Sheet-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('images/Sheet-c.png');
}


.Sheet
{
  margin-top: 0px !important;
}
/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
 
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url(images/spacer.gif);
  padding: 13px 30px 30px 30px;
  margin: -15px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


/* menu structure */

.nav
{
 
  position: relative;
  display:block;
  left:9px;
    margin: 0  auto;
  width: 520px;
  height: 51px;
  z-index: 111;
  
  
}

.artmenu
{
  padding: 0px 0px 0px 0px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 51px;
}

.nav .l
{
  left: 0;
  right: 0px;
}


.nav .r
{
  right: 0;
  width: 0px;
}


.nav .r div
{
  width: 500px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/nav.png');
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 51px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 0px;

}
.artmenu a span span
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  padding: 0 20px;
 
  margin: 0 0px;
  line-height: 51px;
  text-align: center;
  background-image: url('images/item-center.png');
  background-position: left top;
  background-repeat: repeat-x;

}




.artmenu a:hover span span
{
  color: #FFFFFF;
  background-position: left -111px;
}

.artmenu li:hover a span span
{
  color: #FFFFFF;
  background-position: left -111px;
}


/* end MenuItem */

/* begin MenuSubItem */
.artmenu ul a
{
  display:block;
  text-align: center;
  white-space: nowrap;
  height: 51px;
  width: 176px;
  overflow:hidden;
  line-height: 51px;
  margin-right: auto;


  background-image: url('images/subitem-bg.png');
  background-position: left top;
  background-repeat: repeat-x;

  border-width: 0px;
  border-style: solid;
  border-color: {PassiveBorderColor};
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 51px;
  color: #EBEBEB;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  
}

.artmenu a.active
{
  background-position: left -56px;
}

.artmenu a.active span
{
  background-position: right -56px;
}

.artmenu a.active span span
{
 
  color:#ffffff;
font-weight:bold;
  background-position: left -111px;
}

.artmenu ul ul a
{
  margin-left: auto;
}

.artmenu ul li a:hover
{
  color: #454545;
  border-color: {HoveredBorderColor};
  background-position: 0 -51px;
}

.artmenu ul li:hover>a
{
  color: #454545;
  border-color: {HoveredBorderColor};
  background-position: 0 -51px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
  color: #454545;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
  color: #454545;
}


/* end MenuSubItem */

/* begin Header */
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 995px;
  height: 320px;
}



div.Header-jpeg
{
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  width: 995px;
  height: 320px;
background-image: url('images/Header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
.logo-left
{
  display : block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 755px;
  height:225px;
  
}
.logo
{
 
  left: 0px;
  top: 10px;
  width:720px;
  float:right;
}

h1.logo-name
{
  display: block;
  text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding:0;
  margin:0;
  color: #FFFFFF !important;
}

.logo-text
{
  display: block;
  text-align: left;
}

.logo-text, .logo-text a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  padding:0;
  margin:0;
  color: #FFFFFF !important;
}

/* end Logo */

/* begin ContentLayout */
.contentLayout
{
  margin-bottom: 0px;
  width: 975px;
  position: relative;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Block-body
{
  position: relative;
  z-index: 0;
  margin: 0px;
}


.Block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  z-index: 0;
  line-height: 30px;
  padding: 0 7px;
  margin-bottom: 0px;

}

.BlockHeader-text
{
  white-space : nowrap;
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 0px;
}


.BlockHeader .r
{
  right: 0;
  width: 0px;
}


.BlockHeader .r div
{
  width: 975px;
  right: 0;
}


.BlockHeader .l, .BlockHeader .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/BlockHeader.png');
}




/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.BlockContent-body
{
  position: relative;
  z-index: 0;
  margin: 7px;
}


.BlockContent-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('images/BlockContent-c.png');
}


.BlockContent-body
{
  color:#595959;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.BlockContent-body a:link
{
  color: #4F4F4F;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
  color: #828282;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
  color: #C11016;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}


.BlockContent-body ul
{
  list-style-type: none;
  color: #242424;
  margin:0;
  padding:0;
}

.BlockContent-body li
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  text-decoration: none;
}

.BlockContent-body ul li
{
  padding:0px 0 0px 13px;
  background-image: url('images/BlockContentBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
  position: relative;
  z-index: 0;
  margin: 0px;
}


.Post
{
  margin: 7px;
}


/* Start images */
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 1px;
  border-color: #A6A6A6;
  margin: 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #B5B5B5;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
  text-decoration:none;
  margin: 0.2em 0;
  padding: 0;
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  word-spacing:normal;
  font-variant:normal;
  text-decoration:none;
  font-variant:normal;
  text-transform:none;
  text-align:left;
  text-indent:0;
  line-height:inherit;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #404040;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #404040;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #4D4D4D;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #666666;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #D91218;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #545454;
}

.PostContent
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #545454;
  
}

/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #99343e;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #99343e;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #3B3B3B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #99343e;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #99343e;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #99343e;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #757575;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #99343e;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #99343e;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #99343e;
}
/* Finish Content headings Fonts & Colors  */

/* end PostContent */

/* begin PostBullets */
/* Start Content list */

ul
{
  list-style-type: none;
  color: #404040;
  margin:0;
  padding:0;
}

li
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}



.Post ul li
{
  padding:0px 0 0px 13px;
  background-image: url('images/PostBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */

blockquote p
{
  color:#0F0F0F;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

blockquote
{
  border-color:#C7C7C7;
  border-width: 1px;
  border-style: solid;

  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 41px;

  background-color:#E0E0E0;

  background-image:url('images/PostQuote.png');
  background-position:left top;
  background-repeat:no-repeat;
}



/* Finish blockuote */
/* end PostQuote */

/* begin Button */
button.Button, a.Button
{
  position:relative;
  display:inline-block;
  width: auto;
  outline:none;
  border:none;
  background:none;
  line-height:34px;
  margin:0;
  padding:0;
  overflow: visible;
  cursor: default;
  text-decoration: none !important;
}


/*This HACK needed for ie7 (button position)*/
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  z-index: 0;
  height: 34px;
  color: #fff;
  white-space: nowrap;
  float: left;
}

.Button .t
{
  height:34px;
  white-space: normal;
  padding: 0 21px;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 34px;
  text-decoration: none !important;
}

input, select
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.Button .active
{
  color: #fff;
}

.Button .hover,  a.Button:hover
{
  color: #fff;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -68px;
}

.Button .hover .r
{
  top: -34px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 11px;
  height: 102px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:411px;
  height: 102px;
}


.Button .active .l
{
  top: -68px;
}

.Button .hover .l
{
  top: -34px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 11px;
  height: 102px;
}


.Button .l, .Button .r span
{
  /*background-image: url('images/Button.png');*/
  background-color:#5d000a;
}

/* end Button */

/* begin Footer */
.Footer
{
  position:relative;
  z-index:0;
  overflow:hidden;
    border-top:1px solid #927e63;
  width: 995px;
  margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 17px;
  text-align: left;
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
 /* background-repeat:no-repeat;
  
  background-image: url('images/Footer.png');
  background-color:#cccccc;*/

  width: 995px;
  height: 100px;
  bottom:0;
  left:0;
}



.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#212121;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #4D4D4D;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #1A1A1A;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #8E0B10;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
  font-family:Arial;
  font-size:10px;
  letter-spacing:normal;
  word-spacing:normal;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#BD0F15;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#666666;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .content
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 731px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar1
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 243px;
}

/* end LayoutCell */

.headbtm
{
width:100%;
height:40px;
background-color:#000000;
color:#ffffff;
border-top:#ffffff solid 1px;
}



.headbtm-content1
{
  display : block;
  position: absolute;
  left: 0px;
  color:#ffffff;
  font-size:12px;
  
  top: 237px;
  width:400px;
}


.headbtm-content2
{
  display : block;
  position: absolute;
  left: 323px;
  color:#ffffff;
  font-size:12px;
    top: 237px;
  width: 296px;
}

.headbtm-content3
{
  display : block;
  position: absolute;
  left: 679px;
  color:#ffffff;
  font-size:12px;
    top: 237px;
  width: 296px;
}


/* fbg */
.fbg { margin:0; padding:0; background:#b4a183; width:995px;}
.fbg_resize { margin:0 auto; padding:20px; width:995px;}
.fbg img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg p, .fbg h2 { color:#fefefe;}
.fbg a { color:#99343e;}
.fbg .col { margin:0; float:left; background:url(images/fbg_line.gif) repeat-y right;}
.fbg .c1 { padding:0 10px 0 0; width:305px;}
.fbg .c2 { padding:0 10px; width:320px;}
.fbg .c3 { padding:0 0 0 10px; width:320px; background:none;}
.fbg .c1 img { margin:8px 16px 8px 0;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

.black_para
{
color:#510102;
}



.cbg { margin-top:0; padding:0; background:#ffffff;}
.cbg_resize { margin:0 auto; padding:20px; width:955px;}
.cbg img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.cbg p, .cbg h2 { color:#000000;}
.cbg a { color:#99343e;}
.cbg .col { margin:0; float:left; background:url(images/fbg_line.gif) repeat-y right;}
.cbg .cc1 { padding:0 10px 0 0; width:305px;}
.cbg .cc2 { padding:0 10px; width:325px;}
.cbg .cc3 { padding:0 0 0 10px; width:285px; background:none;}
/*.cbg .cc1 img { margin:8px 16px 8px 0;}
.cbg .cc3 img { margin:8px 16px 4px 0; float:left;}*/
.clr
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:0px;
}

.sbg { margin-top:0; padding:0; background:#ffffff;}
.sbg_resize { margin:0 auto; padding:20px; width:955px;}
.sbg img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.sbg p, .sbg h2 { color:#000000;}
.sbg a { color:#99343e;}
.sbg .col { margin:0; float:left; background:url(images/fbg_line.gif) repeat-y right;}
.sbg .cc1a { padding:0 10px 0 0; width:649px; }
.sbg .cc2a { padding:0 0 0 10px; width:284px; background:none; border-left:1px solid #cccccc;}
/*.sbg .cc1a img { margin:8px 16px 8px 0;}
.sbg .cc2a img { margin:8px 16px 4px 0; float:left;}*/

p
{
margin-top:1px;
padding-top:1px;
text-align:justify;
}

.builders
{
background-image:url("flashgallery.swf");
background-position:right;
background-repeat:no-repeat;
}

.flash
{
position:absolute;
display:block;
left:0px;
top:0px;
width:975px;
height:225px;
}

.toplogo
{
position:absolute;
display:block;
left:0px;
top:100px;
width:300px;
height:225px;
}

.imgleft img, img.imgleft
{
  border-style: solid;
  border-width: 0px;
/* border:1px solid #cccccc;*/
  margin-top: 0px;
  float:left;
  margin-right:0px;
  margin-bottom:7px;
  /*-moz-box-shadow:0px 3px 4px #591E12;
	-webkit-box-shadow:0px 3px 4px #591E12;
	-box-shadow:0px 3px 4px #591E12;*/
}

.imgright img, img.imgright
{
 border-style: solid;
  border-width: 0px;
  /*border:1px solid #cccccc;*/
  margin-top: 0px;
  float:right;
  margin-left:13px;
  margin-bottom:7px;
}

h1,h2,h3
{
color:#000000;
}

td
{
color:#000;
}

body
{
font-size:13px;
line-height:1.5em;
}

#sbg
{
margin-top:4px;
background-image:url("images/contentbg.jpg");
background-repeat:repeat-y;
}

h2
{
padding-bottom:4px;
border-bottom:1px solid #d19a62;
}